body {
  font-family: "iA Writer Mono", monospace;
  line-height: 1.6;
  color: #dad7cd;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #344e41;
}

h1 {
  color: #dad7cd;
}

a {
  color: #dad7cd;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
