---
import Layout from '../layouts/Layout.astro'
import { Content as BioContent } from './bio.md'
---

<Layout title='Timothy - All My Links'>
  <main>
    <BioContent />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: 500px;
  }

  :global(p) {
    font-size: 1.2rem;
    text-justify: justify;
    margin: 1rem;
    transition: color 0.3s ease;
  }

  :global(h1),
  :global(h2) {
    text-align: center;
    color: #dad7cd;
    margin: 1.2rem;
  }

  :global(ul) {
    list-style-type: none;
    padding: 0;
  }

  :global(li) {
    margin-bottom: 1rem;
  }

  :global(a) {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #588157;
    border: 3px solid #3a5a40;
    border-radius: 8px;
    text-decoration: none;
    color: #dad7cd;
    transition: all 0.3s ease;
  }

  :global(a:hover) {
    color: #3a322d;
    text-decoration: none;
  }

  :global(a i) {
    margin-right: 15px;
    font-size: 1.25em;
    width: 20px;
    text-align: center;
    transition: color 0.3s ease;
  }

  :global(a span) {
    flex-grow: 1;
    text-align: center;
  }

  /* Specific icon hover colors */
  :global(a:hover .fa-linkedin),
  :global(a:hover .fa-github),
  :global(a:hover .fa-instagram),
  :global(a:hover .fa-file) {
    color: #3a322d;
  }

  /* Email-specific styles */
  :global(a[href^='mailto:']) {
    background-color: #588157;
    border-color: #3a5a40;
    color: #dad7cd;
  }

  :global(a[href^='mailto:']:hover) {
    color: #3a322d;
  }
</style>
