---
import Layout from '../layouts/Layout.astro';
import { Content as BioContent } from './bio.md';
---

<Layout title="Timothy - All My Links">
  <main>
    <BioContent />
  </main>
</Layout>

<style>
  main {
  margin: auto;
  padding: 1rem;
  max-width: 500px;
}

:global(h1),
:global(h2) {
  text-align: center;
  color: #dad7cd;
  margin-bottom: 1rem;
}

:global(h2) {
  margin: 1rem 1rem;
}

:global(ul) {
  list-style-type: none;
  padding: 0;
}

:global(li) {
  margin-bottom: 1rem;
}

:global(a) {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #588157;
  border: 3px solid #3a5a40;
  border-radius: 8px;
  text-decoration: none;
  color: #dad7cd;
  transition: all 0.3s ease;
}

:global(a:hover) {
  color: #3a322d;
  text-decoration: none;
}

:global(a i) {
  margin-right: 15px;
  font-size: 1.2em;
  width: 20px;
  text-align: center;
  transition: color 0.3s ease;
}

:global(a span) {
  flex-grow: 1;
  text-align: center;
}

/* Specific icon hover colors */
:global(a:hover .fa-linkedin),
:global(a:hover .fa-github),
:global(a:hover .fa-instagram) {
  color: #3a322d;
}

:global(a:hover .fa-hand-holding-heart),
:global(a:hover .fa-dog) {
  color: #e0396b;
}

/* Email-specific styles */
:global(a[href^="mailto:"]) {
  background-color: #588157;
  border-color: #3a5a40;
  color: #dad7cd;
}

:global(a[href^="mailto:"]:hover) {
  color: #3a322d;
}
</style>